// import var first！
@import "var"
@import "reset"
@import "font"

@import "./includes/_footer"
@import "./includes/_head"
@import "./includes/_horizontal-line"
@import "./includes/_posts"
@import "./includes/_main"
@import "./includes/_sidebar"
@import "./includes/_paginator"

body
  width: 100%
  font-family: $font-family
  background: $color-yellow-white
  border: 1.5rem solid $color-yellow

