*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  width: 100%
  height: 100%
  font-size: $rem

body
  width: 100%
  font-family: $font-family
  background: $color-white
  border: 1.5rem solid $color-yellow
  font-smooth: auto

a
  color: $color-black