.head
  padding: 8rem 0
  text-align: center
  font-family: 'Abril Fatface', cursive, 'Alata', 'Noto Sans TC'
  position: relative

.head__inner
  display: inline-block
  a
    text-decoration: none
    color: $color-black-3
  h1
    text-size(l-2)
    margin-bottom: 1rem
  p
    text-size(s-1)

.bottom-line-1
  height: 3px
  width: 100%
  background: $color-black-2
  margin-bottom: 3px

.bottom-line-2
  height: 6px
  width: 100%
  background: $color-black-2

@media screen and (max-width: $M)
  .head__inner
    h1
      text-size(m-4)
