.location-bar
  position: relative
  .line-1
    margin-bottom: 2px
  .text
    text-align: center
    text-size(s-1)
    margin: 0.2em 0
    padding: 0 4rem
    overflow: hidden
    text-overflow:ellipsis
    white-space: nowrap
  .line-1,.line-2,.line-3
    background: $color-black-2
