.main, .page
  .main__2-col
    display: grid
    grid-template-columns: auto 30rem

.paper-container
  margin: 0 auto
  width: 100%
  min-height: 100vh
  padding: 0 2rem
  max-width: 98rem

@media screen and (max-width: $S)
  .main, .page
    .main__2-col
      grid-template-columns: 1fr
