.main, .page
  .main__2-col
    display: grid
    grid-template-columns: auto 30rem

.paper-container
  margin: 0 auto
  width: 100%
  min-height: 100vh
  padding: 0 2rem
  max-width: 98rem

.main .back-to-home
  display: flex
  justify-content: center
  padding: 5.5rem 3.5rem

.main .home-button
  font-size: 1.4rem
  font-weight: bold
  line-height: 2.2rem
  box-shadow: inset 0 -0.1em 0 $color-black-2
  transition:all .3s cubic-bezier(.71,0,0,.99)
  text-decoration: none
  &:hover
    box-shadow: inset 0 -0.8em 0 $color-main
  

@media screen and (max-width: $S)
  .main, .page
    .main__2-col
      grid-template-columns: 1fr
