extends ./includes/layout.pug
include ./mixins/postItem.pug
include ./mixins/horizontalLine.pug


block content
  .main
    include ./includes/location-bar.pug
    .main__2-col
      article.post-view__article
        .article__infomation
          - const post = { date: page.date, tags: page.tags, title: page.title, path: ''}
          +postItem(post)
        .article__content
          != page.content
      .post-view__sidebar
        include includes/sidebar.pug
    +horizontalLine('1px')
    .main__bottom
      include includes/pre-next.pug
      if page.content && theme.comment && theme.comment.enable
        include includes/comments


