
- let pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' [ ' + config.title + ' ]'

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    title= pageTitle
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      //- stylesheets list from _config.yml
      each url in theme.stylesheets
        link(rel='stylesheet', href=url)
    if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from _config.yml
      each url in theme.scripts
        script(src=url)
      script.
        
        window.addEventListener('DOMContentLoaded', function() {
          // highlight
          setTimeout(function() {
            hljs.initHighlighting()
          },0)
          // smooth scroll
          if(window.Scrollbar && screen && screen.width > 1080) {
            window.Scrollbar.init(document.querySelector('.scrollbar'), { damping: 0.22 })
          }
          // if moble, don't smooth scroll
        })
        
  body
    .mask-border
    .scrollbar
      include ./head
      .paper-container
        block content
      include ./footer
      
    
    
