include ../mixins/horizontalLine.pug

.location-bar
  .line-1
    +horizontalLine('3px')
  .line-2
    +horizontalLine('1px')
  - const locationStr = page.path.trim().split('/').filter(item => item !== "").join(' > ')
  p.text= locationStr
  .line-3
    +horizontalLine('1px')
