text-size(n)
  if n == 's-1'
    font-size: $font-size-s-1
    line-height: $line-height-s-1
  else if n == 's-2'
    font-size: $font-size-s-2
    line-height: $line-height-s-2
  else if n == 's-3'
    font-size: $font-size-s-3
    line-height: $line-height-s-3
  else if n == 'm-1'
    font-size: $font-size-m-1
    line-height: $line-height-m-1
  else if n == 'm-2'
    font-size: $font-size-m-2
    line-height: $line-height-m-2
  else if n == 'm-3'
    font-size: $font-size-m-3
    line-height: $line-height-m-3
  else if n == 'm-4'
    font-size: $font-size-m-4
    line-height: $line-height-m-4
  else if n == 'l-1'
    font-size: $font-size-l-1
    line-height: $line-height-l-1
  else if n == 'l-2'
    font-size: $font-size-l-2
    line-height: $line-height-l-2
  else if n == 'l-3'
    font-size: $font-size-l-3
    line-height: $line-height-l-3
