// import var first！
@import "var"
@import "reset"
@import "font"
@import "post"

@import "./includes/_footer"
@import "./includes/_head"
@import "./includes/_horizontal-line"
@import "./includes/_posts"
@import "./includes/_main"
@import "./includes/_sidebar"
@import "./includes/_paginator"
@import "./includes/_pre-next"
@import "./includes/_location-bar"
@import "./includes/_switch-button"
@import "./includes/_darkmode-mask"

.scrollbar
  height: 100%

.mask-border
  position: relative
  z-index: 10
  pointer-events: none
  &::before
    content: ''
    width: 100%
    height: 100vh
    border: 1.4rem $color-yellow solid
    position: fixed
    top: 0
    left: 0

::selection
  color: $color-white
  background: $color-black
  text-shadow: 2px 2px 3px rgba(0,0,0,0.4)

@media screen and (max-width: $L)
  .mask-border
    &::before
      border: 0.8rem $color-yellow solid
