.post-view

.post-view__article
  padding: 0rem 2rem 6rem 2rem
  overflow-x: hidden

article.post-view__article
  .article__content
    h1,h2,h3,h4,h5,h6,p
      margin: 1em 0
    h1,h2
      text-size(m-3)
    h3
      text-size(m-2)
    h4,h5
      text-size(m-1)
    h6
      text-size(s-3)
    p
      text-size(s-2)

    blockquote
      border-left: 2px solid $color-black
      padding: 0em 2rem

    code
      text-size(s-1)
      border-radius: 4px
      .gutter
        width: 2em
        text-align: center
        color: $color-white
        background: $color-gray

    code.hljs
      overflow-x: scroll
      max-width: 80rem
      margin: 2rem 0

    code:not(.hljs)
      font-weight: bold
      background: $color-auxiliary
      border-radius: 4px
      padding: 0.2rem 0.4em
      margin: 0.4em
      vertical-align:middle;
      display:inline-block;


    ul,ol
      text-size(s-2)
      padding-left: 2em
      li
        padding: 0.2em 0

    img
      width: auto
      max-width: 100%
      margin: 2rem 0

@media screen and (max-width: $M)
  .post-view__article
    padding: 0rem 1rem 6rem 1rem
