.head
  padding: 8rem 0
  text-align: center
  font-family: 'Times New Roman', Times, serif

.head__inner
  display: inline-block
  a
    text-decoration: none
  h1
    text-size(l-2)
  p
    text-size(s-1)
    margin-bottom: 3rem

.bottom-line-1
  height: 3px
  width: 100%
  background: $color-black
  margin-bottom: 3px

.bottom-line-2
  height: 6px
  width: 100%
  background: $color-black