.sidebar
  text-size(s-1)
  padding: 2rem 10rem 2rem 2rem
  margin: 2rem
  border-left: 1px solid lighten($color-gray,60%)
  li
    list-style-type: none
  &__link,&__archives,&__tags
    padding: 0 0 0 1em
    border-left: 1px solid $color-black
    margin:1.6rem 0 1.6rem 1rem
  &__tags
    li
      display: inline-block
      padding: 0 0.4em

    
