include ../mixins/horizontalLine.pug

//- globle: getPageTitle {Function}

.location-bar
  .line-1
    +horizontalLine('3px')
  .line-2
    +horizontalLine('1px')
  p.text= getPageTitle()
  .line-3
    +horizontalLine('1px')
