.sidebar
  //- 默认参数 true
  if !page.posts && (theme.toc === undefind || theme.toc === true)
    include ./toc

  if theme.link === undefind || theme.link === true
    h2 Links
    .sidebar__link
      if theme.social
        ul
          each url,label in theme.social
            li
              a(href=url_for(url)) #{label}

  if theme.archives === undefind || theme.archives === true
    h2 Archives
    .sidebar__archives
      != list_archives({type:"yearly", format: "YYYY", show_count: false})

  if theme.categories === undefind || theme.categories === true
    h2 Categories
    .sidebar__categories
      != list_categories({show_count: false})

  if theme.tags === undefind || theme.tags === true
    h2 Tags
    .sidebar__tags
      != list_tags({show_count: false})

